<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <div class="home-badge">
                <img src="/img/home/badge.png" alt="👑 EPIC MATCH-3 FANTASY ADVENTURE" loading="lazy">
            </div>
            <h1 class="home-title">Match, Explore, and Restore the Kingdom</h1>
            <p class="home-text">Every move brings magic back to life.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.dreamspark.royal.adventure&hl=en&gl=us">
                <p>Play on Google Play</p>
            </a>
        </div>
    </div>
</section>